/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    background: url('https://www.thehousedesigners.com/images/plans/01/MHD/bulk/2009/untitled-design_m.webp')
  }
  
  .login-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .login-form h2 {
    margin-bottom: 15px;
    color: #333;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background: #0056b3;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  .signup-text {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: white;
  }
  
  .signup-btn {
    background-color: transparent;
    color: #007bff;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .signup-btn:hover {
    text-decoration: underline;
  }
  
